{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Samenvatting</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/invul.css' %}"
    </head>

    <body>
        <h1>Samenvatting</h1>

		Uw heffingskorting is {{heffingskorting}}<br>
		Het capaciteitstarief voor 25A bemeten is bij {{netbeheerder}} {{capaciteitstarief_elektriciteit_25A}} incl. BTW<br>
		Het capaciteitstarief voor gas en verbruik tussen 500 en 4000m3 is bij {{netbeheerder}} {{capaciteitstarief_gas}} incl. BTW.<br>
		De gasprijs per m3 is bij {{leverancier}} {{gasprijs}} euro incl. BTW<br>
		De elekriciteitsprijs per kw is bij {{leverancier}} {{kw_prijs}} incl. BTW<br>
		De kosten voor "opslag duurzame energie" is {{ODE_per_kw_inclBTW}} per kw elektriciteit en {{ODE_per_m3_inclBTW}} per m3 gas incl. BTW<br>
		De energiebelasting is {{energiebelasting_per_kw_inclBTW}} per kw voor elektriciteit en voor gas {{energiebelasting_per_m3_inclBTW}} per m3 incl BTW.<br><br>
		Uw totale kosten voor {{kw_verbruik}}Kwh elektriciteit is (kw_verbruik*(kw_prijs+ODE+energiebelasting)+capaciteitstarief-heffingskorting)<b><u> {{totaal_elektriciteitskosten}} euro per jaar</b></u>. Dit is {{prijs_per_kw}} euro per Kwh<br> 
		Uw totale kosten voor {{gasverbruik}}m3 gas is (gasverbruik*(gasprijs+ODE+energiebelasting)+capaciteitstarief) <b><u>{{totaal_gaskosten}} euro per jaar</b></u>. Dit is {{prijs_per_m3}} euro per m3.<br>
		<img src={{img_tag}}><br>
    </body>

</html>
